@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --blue-color: #a2d2ff;
  --white-color: #f1faee;
  --purple-color: #023047;
  --orange-color: #f4a261;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: var(--box-shadow);
  margin: 2rem 0;
}

.leftSide {
  padding: 40px;
  background-color: var(--purple-color);
}

.profilBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 1.5rem;
}

.profilBox .imgBox {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.profilBox .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.profilBox h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
}

.profilBox h2 span {
  font-weight: 300;
  font-size: 0.8em;
}

.info.kontak,
.info.pendidikan {
  margin-bottom: 2rem;
}

.info .title {
  font-weight: 600;
  color: var(--white-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.info.kontak ul li,
.info.bahasa ul li {
  margin-bottom: 0.5rem;
}

.info.kontak ul li .icon {
  margin-right: 0.25em;
}

.info.kontak ul li .text {
  color: var(--white-color);
  font-size: 1em;
}

.info.pendidikan ul li {
  margin-bottom: 0.75rem;
}

.info.pendidikan ul li h5 {
  color: var(--blue-color);
}

.info.pendidikan ul li h5,
.info.pendidikan ul li h4 {
  font-weight: 300;
}

.info.pendidikan ul li h2,
.info.pendidikan ul li h4 {
  color: var(--white-color);
}

.info.pendidikan ul li h2 {
  font-weight: 600;
  font-size: 1.25rem;
}

.info.bahasa ul li h5 {
  color: var(--white-color);
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.info.bahasa ul li > div {
  width: 100%;
  height: 0.125rem;
  background-color: var(--orange-color);
}

.info.bahasa ul li > div .percent {
  width: 95%;
  height: 100%;
  background-color: var(--blue-color);
}

.info.bahasa ul li > div .percent.english {
  width: 75%;
}

.rightSide {
  padding: 40px;
  background-color: var(--white-color);
}
